:root {
    --border-radius: 4px;
    --background: #222;
    --background-light: #333;
    --background-dark: #000;
    --foreground: #fff;
    --foreground-light: #eee;
    --foreground-dark: #ddd;
    --accent: #0aa;
}

#graph {
    width: 100%;
    height: 100%;
    background-color: black;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--foreground);
    font-family: sans-serif;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    width: 50px;
    height: 50px;
    border-top: 2px solid #f3f3f3;
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.vis-tooltip {
    position: absolute;
    color: white;
    background: #222;
    padding: 5px 10px;
    transform: translateX(-10px) translateY(10px);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.progress {
    width: 100%;
    height: 10px;
}

.progress-bar {
    display: block;
    height: 100%;
    width: 0%;
    background-color: #ddd;
    transition: width 0.5s ease;
}

.hover-title {
    max-width: 50vw;
    max-height: 50vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.hover-title iframe {
    height: 600px;
    width: 1200px;
}

.flex, .flex-v {
    display: flex;
    gap: 5px;
}

.flex-grow {
    flex-grow: 1;
}

.flex-v {
    flex-direction: column;
}

.padded {
    padding: 10px;
}

.rounded {
    border-radius: var(--border-radius);
}

input {
    padding: 10px 16px;
    border-radius: var(--border-radius);
    border: 1px solid var(--foreground-dark);
    background: var(--background-dark);
    color: var(--foreground);
}

.search-input {
    font-size: 18px;
    width: calc(100% - 32px);
    position: sticky;
    top: 10px;
}

a {
    color: var(--accent);
    text-decoration: none;
    word-wrap: anywhere;
}

a:hover {
    text-decoration: underline;
}

.search-result {
    max-width: max-content;
    background: var(--background);
}

.text-small {
    font-size: 14px;
}

#search-results {
    background: var(--background-dark);
}

#search-results:empty {
    display: none;
}

.search-results, #search-results, .search-result-link {
    max-width: max-content;
}

#search-container {
    width: max-content;
    margin: 0 auto;
    max-width: 1200px;
}

.search-result-preview-part {
    color: var(--foreground-dark);
}

.search-result-preview-part.highlight {
    font-weight: 900;
    color: var(--foreground-light);
}

.search-result-title-part.highlight {
    font-weight: 900;
    color: var(--accent);
}

.search-loading-spinner {
    width: 14px;
    height: 14px;
    animation: spin 1s linear infinite;
    border-top: 2px solid var(--foreground-dark);
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-bar-container {
    background: var(--background-dark);
    width: 100%;
    border-radius: 3px;
}

.loading-bar {
    height: 6px;
    border-radius: 3px;
    background: var(--accent);
}

.search-result-type {
    word-wrap: break-word;
    font-size: 12px;
}